<footer class="bg-gray-100 p-4 md:grid">
  <div
    class="my-5 justify-between gap-10 lg:container lg:mx-auto lg:flex lg:max-w-5xl xl:max-w-7xl"
  >
    <!-- Section footer 1 -->
    <div
      class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
    >
      <!-- Judul -->
      <div>
        <h3 class="font-semibold">Platform</h3>
      </div>
      <!-- Content -->
      <div
        class="grid grid-rows-5 gap-3 md:grid-cols-3 md:grid-rows-2 lg:grid-cols-1 lg:grid-rows-6"
      >
        <div>
          <a class="hover:border-b hover:border-black" href="">Talent</a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href="">Enterprise</a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href=""
            >Payment & Fees</a
          >
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href=""
            >Dispute Resolution</a
          >
        </div>
        <div><a class="hover:border-b hover:border-black" href="">FAQ</a></div>
      </div>
      <!-- Hr -->
      <hr class="mt-5 lg:hidden" />
    </div>

    <!-- Section Footer 2 -->
    <div
      class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
    >
      <!-- judul -->
      <div>
        <h3 class="font-semibold">Resources</h3>
      </div>
      <!-- Content -->
      <div
        class="grid grid-rows-3 gap-3 md:grid-cols-3 md:grid-rows-1 lg:grid-cols-1 lg:grid-rows-6"
      >
        <div>
          <a class="hover:border-b hover:border-black" href=""
            >For Freelancers</a
          >
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href="">For Clients</a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href=""> Blog </a>
        </div>
      </div>
      <!-- Hr -->
      <hr class="mt-5 lg:hidden" />
    </div>

    <!-- Section footer 3 -->
    <div
      class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
    >
      <!-- Judul -->
      <div>
        <h3 class="font-semibold">About</h3>
      </div>
      <!-- Content -->
      <div
        class="grid grid-rows-6 gap-3 md:grid-cols-3 md:grid-rows-2 lg:grid-cols-1 lg:grid-rows-6"
      >
        <div>
          <a class="hover:border-b hover:border-black" href="">Mission</a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href="">Community</a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href="">WORKS Token</a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href="">Whitepaper</a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href="">
            Network Statistics
          </a>
        </div>
        <div>
          <a class="hover:border-b hover:border-black" href="">Contact Us</a>
        </div>
      </div>
      <!-- hr -->
      <hr class="mt-5 lg:hidden" />
    </div>

    <!-- Logo Images -->
    <div
      class="container order-last mx-auto max-w-lg md:max-w-3xl lg:order-first lg:max-w-5xl xl:max-w-7xl"
    >
      <img
        src="https://ik.imagekit.io/aazw3gxwf2n/prod/web/footer/works-tagline-logo.svg"
        class="mx-auto w-44 pt-4 pr-4 md:w-64 lg:w-72"
      />
      <ul
        class="my-5 mx-auto flex w-56 items-center justify-center gap-4 text-2xl"
      >
        <li><i class="bx bxl-linkedin"></i></li>
        <li><i class="bx bxl-instagram"></i></li>
        <li><i class="bx bxl-facebook"></i></li>
        <li><i class="bx bxl-twitter"></i></li>
      </ul>
      <hr class="mt-5 lg:hidden" />
    </div>
  </div>
  <hr class="mt-5 hidden lg:block" />
  <div
    class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
  >
    <div>
      <h3>© 2022 Work Labs Pte. Ltd.</h3>
    </div>
    <div class="flex flex-wrap gap-x-4 text-xs lg:justify-between lg:text-lg">
      <div><a class="text-neutral-700" href="">Terms</a></div>
      <div>
        <a class="text-neutral-700" href="">Code of Conduct</a>
      </div>
      <div>
        <a class="text-neutral-700" href="">Network Standards</a>
      </div>
      <div>
        <a class="text-neutral-700" href="">Purchaser Terms</a>
      </div>
      <div>
        <a class="text-neutral-700" href="">Referral Terms</a>
      </div>
      <div>
        <a class="text-neutral-700" href="">Privacy Policy</a>
      </div>
      <div>
        <a class="text-neutral-700" href="">Cookie Policy</a>
      </div>
    </div>
    <hr class="mt-5 lg:hidden" />
  </div>
</footer>
