<!-- Hire designers section  -->
<section class="bg-gray-100 py-32">
  <div
    class="container mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl space-y-5"
  >
    <h2
      class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center px-16 pb-5 tracking-normal"
    >
      Top Designers are in High Demand
    </h2>
    <p class="text-lg md:text-xl text-center">
      World's leading firms are turning to Works to hire top UI designers, UX
      designers, Product Designers. Let us help you hire fast, with unparalleled
      success.
    </p>
    <button
      class="flex bg-neutral-700 py-3 px-6 rounded-lg text-white font-semibold text-lg leading-5 hover:bg-black mx-auto focus:outline focus:outline-blue-600"
    >
      Hire Designer
    </button>
  </div>
</section>
