<!-- Steps Section -->
<section class="bg-gray-100 py-32 mt-5">
  <div
    class="container mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
  >
    <h2
      class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center px-16 md:px-3 pb-5 tracking-normal"
    >
      How to hire top Designers through Works
    </h2>
    <div
      class="flex-col md:flex md:flex-row mx-auto justify-center items-start"
    >
      <!-- component 1 -->
      <div
        class="flex md:flex-col md:items-center justify-center py-4 space-x-5 md:space-y-5"
      >
        <div class="relative">
          <div
            class="flex justify-center items-center rounded-full border-4 border-black w-12 h-12 text-center text-xl font-semibold outline-4"
          >
            1
          </div>
          <div
            class="w-0.5 h-20 bg-gray-300 ml-6 top-16 absolute md:ml-20 md:w-32 md:h-0.5 md:top-6 lg:w-56"
          ></div>
        </div>
        <div class="md:text-center space-y-3 md:max-w-xs">
          <h3 class="font-semibold text-2xl md:text-3xl">
            Speak to Our Hiring Expert
          </h3>
          <p class="text-lg">
            Our industry expert will work with you to understand your project
            requirements, business goals and team dynamics.
          </p>
        </div>
      </div>
      <!-- component 2 -->
      <div
        class="flex md:flex-col md:items-center justify-center py-4 space-x-5 md:space-y-8"
      >
        <div class="relative">
          <div
            class="flex justify-center items-center rounded-full border-4 border-black w-12 h-12 text-center text-xl font-semibold"
          >
            2
          </div>
          <div
            class="w-0.5 h-16 bg-gray-300 absolute ml-6 top-14 md:ml-20 md:w-32 md:h-0.5 md:top-6 lg:w-56"
          ></div>
        </div>
        <div class="md:text-center space-y-3 md:max-w-xs">
          <h3 class="font-semibold text-2xl md:text-3xl">
            Work with the Hand-Picked Talent
          </h3>
          <p class="text-lg">
            Within 48 hours, we will connect you to the most qualified talent
            perfectly fit for your project.
          </p>
        </div>
      </div>
      <!-- component 3 -->
      <div
        class="flex md:flex-col md:items-center justify-center py-4 space-x-5 md:space-y-5"
      >
        <div class="relative">
          <div
            class="flex justify-center items-center rounded-full border-4 border-black w-12 h-12 text-center text-xl font-semibold"
          >
            3
          </div>

          <div class="w-0.5 h-16 bg-gray-300 absolute ml-6 top-16 hidden"></div>
        </div>
        <div class="md:text-center space-y-3 md:max-w-xs">
          <h3 class="font-semibold text-2xl md:text-3xl">
            Work Quality, Guaranteed
          </h3>
          <p class="text-lg">
            Work with your new team member and only pay if you are completely
            satisfied with their work quality, assuring you a 100% risk-free
            hiring.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
