<!-- Navbar Mobile -->
<nav class="bg-white drop-shadow-sm">
  <div
    class="flex justify-between text-center items-center bg-white max-w-lg mx-auto p-7 lg:hidden md:max-w-3xl lg:max-w-6xl"
  >
    <img src="../assets/images/works-logo.svg" class="h-7" alt="" />
    <i class="bx bx-menu text-black text-4xl"></i>
  </div>
</nav>

<!-- Navbar Desktop -->
<nav class="bg-white drop-shadow-sm">
  <ul
    class="justify-evenly text-center items-center mx-auto max-w-7xl py-6 px-7 bg-white hidden lg:flex"
  >
    <!-- Logo -->
    <li>
      <img src="../assets/images/works-logo.svg" class="h-7" alt="" />
    </li>
    <li>
      <a href="#" class="font-semibold hover:border-b-4 hover:border-b-black"
        >For Talent</a
      >
    </li>

    <!-- HMM try -->
    <li class="group">
      <button class="peer font-semibold flex items-center">
        For Client
        <i class="bx bx-chevron-down text-2xl group-hover:rotate-180"></i>
      </button>
      <!-- the menu here -->
      <div
        class="hidden w-[375px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
      >
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          Why Works
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          How it Works
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#"
          >Clients</a
        >
      </div>
    </li>

    <!-- HMM try -->
    <li class="group">
      <button class="peer font-semibold flex items-center">
        Proffession
        <i class="bx bx-chevron-down text-2xl group-hover:rotate-180"></i>
      </button>
      <!-- the menu here -->
      <div
        class="hidden w-[400px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
      >
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          Designer
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          Developer</a
        >
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#"
          >Product Manager</a
        >
      </div>
    </li>

    <!-- HMM try -->
    <li class="group">
      <button
        class="peer font-semibold flex items-center [&:nth-child(2)]:hover:rotate-180"
      >
        Community
        <i class="bx bx-chevron-down text-2xl group-hover:rotate-180"></i>
      </button>
      <!-- the menu here -->
      <div
        class="hidden w-[375px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
      >
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          Why Works
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          How it Works
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#"
          >Clients</a
        >
      </div>
    </li>

    <!-- HMM try -->
    <li class="group">
      <button class="peer font-semibold flex items-center">
        About
        <i class="bx bx-chevron-down text-2xl group-hover:rotate-180"></i>
      </button>
      <!-- the menu here -->
      <div
        class="hidden w-[575px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
      >
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          Mission
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          WORKS Token
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#">
          Whitepaper
        </a>
        <a class="px-5 py-3 hover:border-b-4 hover:border-b-black" href="#"
          >Network Statistics</a
        >
      </div>
    </li>

    <li>
      <a href="#" class="font-semibold hover:border-b-4 hover:border-b-black"
        >Login</a
      >
    </li>
    <li><a href="#"></a><i class="bx bx-world"></i></li>
    <li>
      <div class="space-x-4">
        <button
          class="bg-neutral-100 px-4 py-2 rounded-lg text-black font-semibold focus:outline focus:outline-blue-600 hover:bg-neutral-200"
        >
          Apply to join
        </button>
        <button
          class="bg-neutral-700 px-4 py-2 rounded-lg text-white font-semibold hover:bg-black focus:outline focus:outline-blue-600"
        >
          Hire Talent
        </button>
      </div>
    </li>
  </ul>
</nav>
