<!-- Companies Logos -->
<section
  class="md:max-w-3xl lg:max-w-5xl xl:max-w-7xl xl:px-5 relative mx-auto lg:justify-between mt-8 pb-16 container px-16 md:px-0"
>
  <h1 class="font-semibold text-neutral-500 text-xl">Trusted by</h1>
  <div
    class="grid grid-cols-3 md:grid-cols-7 justify-between mt-5 gap-5 items-center"
  >
    <div>
      <img src="../assets/images/dhl-logo.webp" class="w-36 lg:w-44" alt="" />
    </div>
    <div>
      <img
        src="../assets/images/cisco-logo.webp"
        class="w-28 lg:w-28 mx-auto"
        alt=""
      />
    </div>
    <div>
      <img
        src="../assets/images/charles-monat-logo.webp"
        class="w-40 lg:w-56"
        alt=""
      />
    </div>
    <div>
      <img
        src="../assets/images/mercer-logo.webp"
        class="w-40 lg:w-56"
        alt=""
      />
    </div>
    <div>
      <img
        src="../assets/images/microsoft-logo.webp"
        class="w-40 lg:w-52"
        alt=""
      />
    </div>
    <div>
      <img src="../assets/images/jcu-logo.webp" class="w-36 lg:w-44" alt="" />
    </div>
    <div>
      <img
        src="../assets/images/panasonic-logo.webp"
        class="w-36 lg:w-44 hidden md:block"
        alt=""
      />
    </div>
  </div>
</section>
