<!-- Talent Spotlight -->
<section>
  <!-- Stop Swiper -->

  <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center pt-20">
    Talent Spotlight
  </h2>

  <!-- Try better swiper -->
  <swiper [config]="config_testi" class="mySwiper relative">
    <div class="absolute rounded-full outline-black outline-4"></div>
    <ng-template swiperSlide>
      <div
        class="container text-center md:space-y-6 mt-10 max-w-lg md:max-w-3xl lg:max-w-5xl mx-auto pb-5 relative"
      >
        <!-- Testimoni Box -->
        <div
          class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg md:hidden relative"
        >
          <div class="space-y-5">
            <div class="flex">
              <img
                src="../assets/images/ava-1.webp"
                class="rounded-full"
                alt=""
              />
              <div>
                <h4 class="text-neutral-600 text-base">UI Designer</h4>
                <h3 class="font-semibold text-xl md:text-2xl ml-6 md:ml-11">
                  Naomi Kang
                </h3>
              </div>
            </div>
            <p class="text-start leading-6">
              Naomi has over eight years of experience in the design industry.
              She has been crafting and delivering unique digital experiences
              for global leading companies and startups. She is adept at user
              experience designs, user interface designs, and innovations for
              web and mobile applications. She helps to create engaging products
              for businesses with a user-centered approach.
            </p>
            <div class="flex flex-wrap gap-1 text-lg">
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Mobile UI</div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Web UI</div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                Mobile App Design
              </div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
            </div>
            <button
              class="bg-neutral-700 py-3 px-6 rounded-lg text-white font-semibold text-lg leading-5 hover:bg-black -ml-64 focus:outline focus:outline-blue-600"
            >
              Hire Designer
            </button>
          </div>
        </div>
        <!-- Image asset -->
        <img
          src="../assets/images/asset-1.webp"
          class="mx-auto rounded-3xl w-128 md:w-80 md:translate-y-32 lg:translate-y-16 md:-translate-x-10 md:absolute lg:w-96 lg:ml-7"
          alt=""
        />
        <!-- Testimoni Box Desktop -->
        <div
          class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg lg:max-w-2xl hidden md:block ml-auto"
        >
          <div class="space-y-5">
            <div class="flex">
              <img
                src="../assets/images/ava-1.webp"
                class="rounded-full"
                alt=""
              />
              <div>
                <h4 class="text-neutral-600 text-base">UI Designer</h4>
                <h3 class="font-semibold text-xl md:text-2xl ml-6 md:ml-11">
                  Naomi Park
                </h3>
              </div>
            </div>
            <p class="text-start leading-6">
              Naomi has over eight years of experience in the design industry.
              She has been crafting and delivering unique digital experiences
              for global leading companies and startups. She is adept at user
              experience designs, user interface designs, and innovations for
              web and mobile applications. She helps to create engaging products
              for businesses with a user-centered approach.
            </p>
            <div class="flex flex-wrap gap-1 text-lg">
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Mobile UI</div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Web UI</div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                Mobile App Design
              </div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
            </div>
            <button
              class="bg-neutral-700 py-3 px-6 rounded-lg text-white font-semibold text-lg leading-5 hover:bg-black md:-ml-64 lg:-ml-106 focus:outline focus:outline-blue-600"
            >
              Hire Designer
            </button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="container text-center md:space-y-6 mt-10 max-w-lg md:max-w-3xl lg:max-w-5xl mx-auto pb-5 relative"
      >
        <!-- Testimoni Box -->
        <div
          class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg md:hidden relative"
        >
          <div class="space-y-5">
            <div class="flex">
              <img
                src="../assets/images/ava-2.webp"
                class="rounded-full"
                alt=""
              />
              <div>
                <h4 class="text-neutral-600 text-base">UX Strategist</h4>
                <h3 class="font-semibold text-xl ml-2">Jason Chan</h3>
              </div>
            </div>
            <p class="text-start leading-6">
              Jason is a UX strategist and designer with more than 10 years of
              experience in design, user experience, interaction design, and
              visual identity. He designs products from ideation to launch. His
              product visual designs are creative, helping to meet the business
              goals of organizations across a broad range of industries.
            </p>
            <div class="flex flex-wrap gap-1 text-lg">
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Mobile UI</div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Web UI</div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                Mobile App Design
              </div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
            </div>
            <button
              class="bg-neutral-700 py-3 px-6 rounded-lg text-white font-semibold text-lg leading-5 hover:bg-black -ml-64 focus:outline focus:outline-blue-600"
            >
              Hire Designer
            </button>
          </div>
        </div>
        <!-- Image asset -->
        <img
          src="../assets/images/asset-2.webp"
          class="mx-auto rounded-3xl w-128 md:w-80 md:translate-y-32 lg:translate-y-16 md:-translate-x-10 md:absolute lg:w-96 lg:ml-7"
          alt=""
        />
        <!-- Testimoni Box Desktop -->
        <div
          class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg lg:max-w-2xl hidden md:block ml-auto"
        >
          <div class="space-y-5">
            <div class="flex">
              <img
                src="../assets/images/ava-2.webp"
                class="rounded-full"
                alt=""
              />
              <div>
                <h4 class="text-neutral-600 text-base">UX Strategist</h4>
                <h3 class="font-semibold text-xl md:text-2xl md:ml-6">
                  Jason Park
                </h3>
              </div>
            </div>
            <p class="text-start leading-6">
              Jason is a UX strategist and designer with more than 10 years of
              experience in design, user experience, interaction design, and
              visual identity. He designs products from ideation to launch. His
              product visual designs are creative, helping to meet the business
              goals of organizations across a broad range of industries.
            </p>
            <div class="flex flex-wrap gap-1 text-lg">
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                User Experience (UX)
              </div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                Web App Design
              </div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                Mobile App Design
              </div>
              <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
            </div>
            <button
              class="bg-neutral-700 py-3 px-6 rounded-lg text-white font-semibold text-lg leading-5 hover:bg-black md:-ml-64 lg:-ml-106 focus:outline focus:outline-blue-600"
            >
              Hire Designer
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>
