<!-- Success Stories -->
<section
  class="container mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl py-10"
>
  <h2
    class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center mt-16 px-16 md:px-24 lg:px-64 pb-5 tracking-normal"
  >
    Success Stories
  </h2>
  <div class="md:grid md:grid-cols-2 grid grid-rows-4 md:grid-rows-2">
    <img
      src="../assets/images/success-1.webp"
      class="rounded-3xl mx-auto object-cover content-center md:h-144 md:mt-12 lg:h-auto"
    />
    <div class="px-4 md:py-6 space-y-5 md:max-w-lg md:my-auto">
      <h3 class="text-lg font-semibold md:text-xl mt-5">
        Cisco Gains Higher-Quality Matches and 15x Faster Time to Hire
      </h3>
      <p>
        Cisco needs to hire UX designers with diverse cultural backgrounds to
        join its workforce experience design team in order to create a better
        working environment through human-centered design. When Cisco hired
        through traditional agencies, it faced some problems such as long hiring
        time and language barrier, which affected Cisco's work efficiency. Works
        used experts and artificial intelligence technology to select top 3%
        design talents who are well-versed in principles of design for Cisco
        within 48 hours. Works' accurate AI translation also helped Cisco to
        communicate easily with remote teams, saving Cisco a great deal of time.
      </p>
      <hr width="100%" />
      <div class="flex justify-between">
        <div>
          <h4 class="md:text-xl font-semibold">15x Faster</h4>
          <p>Hiring Time</p>
        </div>
        <div>
          <h4 class="md:text-xl font-semibold">Top 3%</h4>
          <p>Independent designers contracted worldwide</p>
        </div>
      </div>
    </div>
    <div
      class="px-4 xl:ml-14 md:py-6 space-y-5 md:max-w-lg md:my-auto order-last md:order-3"
    >
      <h3 class="text-lg font-semibold md:text-xl mt-5">
        Microsoft Faster Hiring Process by 4x With Works
      </h3>
      <p>
        To create a cohesive brand and visual language within Xbox games to
        deliver high-quality, compelling customer experiences, the Xbox team
        needs professional UX/UI designers. Long hiring processes, uneven talent
        pool, and language barriers brought about by traditional agencies have
        negatively affected the Xbox team's productivity. Works used experts and
        artificial intelligence technology to select the top 3% UX/UI designers
        who pass rigorous testing and vetting processes and are well-versed in
        principles of design for the Xbox team in less than 48 hours, saving
        Microsoft a lot of hiring time and reducing the risk of a wrong hire.
      </p>
      <hr width="100%" />
      <div class="flex justify-between">
        <div>
          <h4 class="md:text-xl font-semibold">98%</h4>
          <p>Customer satisfaction rating</p>
        </div>
        <div>
          <h4 class="md:text-xl font-semibold">4x</h4>
          <p>saved over traditional hiring time</p>
        </div>
      </div>
    </div>

    <img
      src="../assets/images/success-2.webp"
      class="lg:-ml-0 rounded-3xl mx-auto object-cover content-center md:h-144 md:mt-10 lg:h-auto order-3"
    />
  </div>
</section>
