<!-- Navbar Mobile -->
<div class="shadow">
  <div
    class="flex justify-between text-center items-center bg-white max-w-lg mx-auto p-7 lg:hidden md:max-w-3xl lg:max-w-6xl"
  >
    <img src="../assets/images/works-logo.svg" class="h-7" alt="" />
    <i class="bx bx-menu text-black text-4xl"></i>
  </div>
</div>

<!-- Navbar Desktop -->
<ul
  class="justify-evenly text-center items-center mx-auto max-w-7xl py-6 px-7 bg-white hidden lg:flex"
>
  <!-- Logo -->
  <li>
    <img src="../assets/images/works-logo.svg" class="h-7" alt="" />
  </li>
  <li class="flex items-center justify-center">
    <a href="#" class="font-semibold">For Talent</a>
  </li>
  <li class="flex items-center justify-center">
    <div class="font-semibold">For Client</div>
    <i class="bx bx-chevron-down text-2xl"></i>
  </li>
  <li class="flex items-center justify-center">
    <div class="font-semibold">Proffession</div>
    <i class="bx bx-chevron-down text-2xl"></i>
  </li>
  <li class="flex items-center justify-center">
    <div class="font-semibold">Community</div>
    <i class="bx bx-chevron-down text-2xl"></i>
  </li>
  <li class="flex items-center justify-center">
    <div class="font-semibold">About</div>
    <i class="bx bx-chevron-down text-2xl"></i>
  </li>
  <li><a href="#" class="font-semibold">Login</a></li>
  <li><a href="#"></a><i class="bx bx-world"></i></li>
  <li>
    <div class="space-x-4">
      <button
        class="bg-neutral-100 px-4 py-2 rounded-lg text-black font-semibold"
      >
        Apply to join
      </button>
      <button
        class="bg-neutral-700 px-4 py-2 rounded-lg text-white font-semibold"
      >
        Hire Talent
      </button>
    </div>
  </li>
</ul>

<!-- Hero Image Mobile -->
<div class="max-w-lg mx-auto relative md:hidden">
  <img src="../assets/images/hero.webp" class="mx-auto mt-5" alt="" />
  <div
    class="mx-auto space-y-4 py-10 px-6 flex-col flex bg-neutral-100 font-pjs"
  >
    <h1 class="mx-auto text-3xl font-semibold text-center">
      Hire Top 3% of Designers to Accelerate Your Business
    </h1>
    <p class="mx-auto text-center px-2 text-lg">
      Each of our designers are thoroughly vetted and trusted by world's leading
      firms for their most critical project.
    </p>
    <button
      class="bg-neutral-700 py-3 px-6 mx-auto rounded-lg text-white font-semibold text-sm leading-5 hover:bg-neutral-800"
    >
      Hire Designer
    </button>
  </div>
</div>

<!-- Hero Image Desktop -->
<div
  class="md:max-w-3xl lg:max-w-5xl xl:max-w-7xl xl:px-5 relative hidden md:flex mx-auto justify-center mt-8"
>
  <img
    src="../assets/images/hero.webp"
    class="mx-auto md:h-96 lg:h-124 xl:h-132 rounded-tl-lg rounded-bl-lg"
    alt=""
  />
  <div
    class="space-y-4 flex-col bg-neutral-100 font-pjs h-96 lg:h-124 xl:h-132 rounded-tr-lg rounded-br-lg md:p-10 xl:py-24 xl:px-16 lg:py-24"
  >
    <h1
      class="xl:text-5xl xl:leading-snug lg:text-4xl md:text-3xl font-semibold text-start"
    >
      Hire Top 3% of Designers to Accelerate Your Business
    </h1>
    <p class="text-xl text-start md:text-base lg:text-xl">
      Each of our designers are thoroughly vetted and trusted by world's leading
      firms for their most critical project.
    </p>
    <button
      class="bg-neutral-700 py-3 px-6 mx-auto rounded-lg text-white font-semibold"
    >
      Hire Designer
    </button>
  </div>
</div>
