<!-- Navbar Mobile -->
<header class="sticky top-0 z-50 drop-shadow-sm">
  <nav class="">
    <div
      class="flex justify-between text-center items-center bg-white max-w-lg mx-auto p-7 lg:hidden md:max-w-3xl lg:max-w-6xl"
    >
      <img src="../assets/images/works-logo.svg" class="h-7" alt="" />
      <i class="bx bx-menu text-black text-4xl"></i>
    </div>
  </nav>

  <!-- Navbar Desktop -->
  <nav>
    <ul
      class="justify-evenly text-center items-center mx-auto max-w-7xl py-6 px-7 bg-white hidden lg:flex"
    >
      <!-- Logo -->
      <li>
        <img src="../assets/images/works-logo.svg" class="h-7" alt="" />
      </li>
      <li>
        <a href="#" class="font-semibold hover:border-b-4 hover:border-b-black"
          >For Talent</a
        >
      </li>

      <!-- HMM try -->
      <li>
        <button class="peer font-semibold flex items-center">
          For Client <i class="bx bx-chevron-down text-2xl"></i>
        </button>
        <!-- the menu here -->
        <div
          class="hidden w-[375px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
        >
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> Why Works </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> How it Works </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#">Clients</a>
        </div>
      </li>

      <!-- HMM try -->
      <li>
        <button class="peer font-semibold flex items-center">
          Proffession <i class="bx bx-chevron-down text-2xl"></i>
        </button>
        <!-- the menu here -->
        <div
          class="hidden w-[400px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
        >
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> Designer </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> Developer</a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#">Product Manager</a>
        </div>
      </li>

      <!-- HMM try -->
      <li>
        <button class="peer font-semibold flex items-center">
          Community <i class="bx bx-chevron-down text-2xl"></i>
        </button>
        <!-- the menu here -->
        <div
          class="hidden w-[375px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
        >
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> Why Works </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> How it Works </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#">Clients</a>
        </div>
      </li>

      <!-- HMM try -->
      <li>
        <button class="peer font-semibold flex items-center">
          About <i class="bx bx-chevron-down text-2xl"></i>
        </button>
        <!-- the menu here -->
        <div
          class="hidden w-[575px] bg-white drop-shadow-lg hover:flex peer-hover:flex absolute"
        >
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> Mission </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> WORKS Token </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#"> Whitepaper </a>
          <a class="px-5 py-3 hover:bg-gray-200" href="#">Network Statistics</a>
        </div>
      </li>

      <li>
        <a href="#" class="font-semibold hover:border-b-4 hover:border-b-black"
          >Login</a
        >
      </li>
      <li><a href="#"></a><i class="bx bx-world"></i></li>
      <li>
        <div class="space-x-4">
          <button
            class="bg-neutral-100 px-4 py-2 rounded-xl text-black font-semibold"
          >
            Apply to join
          </button>
          <button
            class="bg-neutral-700 px-4 py-2 rounded-xl text-white font-semibold"
          >
            Hire Talent
          </button>
        </div>
      </li>
    </ul>
  </nav>
</header>

<main>
  <!-- Hero Image Mobile -->
  <section class="max-w-lg mx-auto relative md:hidden">
    <img src="../assets/images/hero.webp" class="mx-auto mt-5" alt="" />
    <div
      class="mx-auto space-y-4 py-10 px-6 flex-col flex bg-neutral-100 font-pjs"
    >
      <h1 class="mx-auto text-3xl font-semibold text-center">
        Hire Top 3% of Designers to Accelerate Your Business
      </h1>
      <p class="mx-auto text-center px-2 text-lg">
        Each of our designers are thoroughly vetted and trusted by world's
        leading firms for their most critical project.
      </p>
      <button
        class="bg-neutral-700 py-3 px-6 mx-auto rounded-xl text-white font-semibold text-sm leading-5 hover:bg-neutral-800"
      >
        Hire Designer
      </button>
    </div>
  </section>

  <!-- Hero Image Desktop -->
  <section
    class="md:max-w-3xl lg:max-w-5xl xl:max-w-7xl xl:px-5 relative hidden md:flex mx-auto justify-center mt-8 container"
  >
    <img
      src="../assets/images/hero.webp"
      class="mx-auto md:h-96 lg:h-124 xl:h-132 rounded-tl-xl rounded-bl-xl"
      alt=""
    />
    <div
      class="space-y-4 flex-col bg-neutral-100 font-pjs h-96 lg:h-124 xl:h-132 rounded-tr-xl rounded-br-xl md:p-10 xl:py-24 xl:px-16 lg:py-24"
    >
      <h1
        class="xl:text-5xl xl:leading-snug lg:text-4xl md:text-3xl font-semibold text-start"
      >
        Hire Top 3% of Designers to Accelerate Your Business
      </h1>
      <p class="text-xl text-start md:text-base lg:text-xl">
        Each of our designers are thoroughly vetted and trusted by world's
        leading firms for their most critical project.
      </p>
      <button
        class="bg-neutral-700 py-3 px-6 mx-auto rounded-xl text-white font-semibold"
      >
        Hire Designer
      </button>
    </div>
  </section>

  <!-- Companies Logos -->
  <section
    class="md:max-w-3xl lg:max-w-5xl xl:max-w-7xl xl:px-5 relative mx-auto lg:justify-between mt-8 pb-16 container px-16 md:px-0"
  >
    <h1 class="font-semibold text-neutral-500 text-xl">Trusted by</h1>
    <div
      class="grid grid-cols-3 md:grid-cols-7 justify-between mt-5 gap-5 items-center"
    >
      <div>
        <img src="../assets/images/dhl-logo.webp" class="w-36 lg:w-44" alt="" />
      </div>
      <div>
        <img
          src="../assets/images/cisco-logo.webp"
          class="w-28 lg:w-28 mx-auto"
          alt=""
        />
      </div>
      <div>
        <img
          src="../assets/images/charles-monat-logo.webp"
          class="w-40 lg:w-56"
          alt=""
        />
      </div>
      <div>
        <img
          src="../assets/images/mercer-logo.webp"
          class="w-40 lg:w-56"
          alt=""
        />
      </div>
      <div>
        <img
          src="../assets/images/microsoft-logo.webp"
          class="w-40 lg:w-52"
          alt=""
        />
      </div>
      <div>
        <img src="../assets/images/jcu-logo.webp" class="w-36 lg:w-44" alt="" />
      </div>
      <div>
        <img
          src="../assets/images/panasonic-logo.webp"
          class="w-36 lg:w-44 hidden md:block"
          alt=""
        />
      </div>
    </div>
  </section>

  <!-- Skillset-->
  <section class="flex-col mx-auto relative space-y-8 md:space-y-10 container">
    <div
      class="flex-col justify-center items-center text-center space-y-4 md:space-y-6 max-w-lg md:max-w-3xl lg:max-w-5xl mx-auto"
    >
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold">
        Gain Access Top Skillsets
      </h2>
      <p class="text-lg md:text-xl">
        We have a community of freelance designers with skills in UX, visual
        design, prototyping, and more.
      </p>
    </div>
    <div class="mx-auto md:pt-5 md:max-w-2xl lg:max-w-5xl">
      <!-- Try better swiper -->
      <swiper [config]="config" class="mySwiper">
        <ng-template swiperSlide>
          <!-- First -->
          <div class="group relative w-80 mx-auto">
            <div class="opacity-1 absolute flex w-80">
              <div class="absolute mt-8 ml-5 space-y-2 text-white">
                <h1 class="text-2xl">UX Design</h1>
                <p>
                  Top UX designers can shape a product from the business brief
                  to working prototypes
                </p>
              </div>
            </div>
            <img
              class="w-80 rounded-3xl object-cover"
              src="../assets/images/asset-2.webp"
            />
            <div
              class="absolute top-0 left-0 flex h-0 w-80 flex-col items-center justify-center bg-neutral-900 opacity-0 group-hover:h-full group-hover:rounded-3xl group-hover:opacity-100"
            >
              <div class="absolute -mt-60 ml-5 space-y-2 text-white">
                <h1 class="text-2xl">UX Design</h1>
                <p>
                  Top UX designers can shape a product from the business brief
                  to working prototypes
                </p>
              </div>
            </div>
          </div></ng-template
        >
        <ng-template swiperSlide>
          <!-- First -->
          <div class="mx-auto">
            <div class="group relative w-80 mx-auto">
              <div class="opacity-1 absolute flex w-80">
                <div class="absolute mt-8 ml-5 space-y-2 text-white">
                  <h1 class="text-2xl">UI Design</h1>
                  <p>
                    Ensure your product is not just functional but beautiful,
                    bringing joy to users through screens
                  </p>
                </div>
              </div>
              <img
                class="w-80 rounded-3xl object-cover"
                src="../assets/images/asset-3.webp"
              />
              <div
                class="absolute top-0 left-0 flex h-0 w-80 flex-col items-center justify-center bg-neutral-900 opacity-0 group-hover:h-full group-hover:rounded-3xl group-hover:opacity-100"
              >
                <div class="absolute -mt-60 ml-5 space-y-2 text-white">
                  <h1 class="text-2xl">UI Design</h1>
                  <p>
                    Ensure your product is not just functional but beautiful,
                    bringing joy to users through screens
                  </p>
                </div>
              </div>
            </div>
          </div></ng-template
        >
        <ng-template swiperSlide>
          <!-- First -->
          <div class="mx-auto">
            <div class="group relative w-80 mx-auto">
              <div class="opacity-1 absolute flex w-80">
                <div class="absolute mt-8 ml-5 space-y-2 text-white">
                  <h1 class="text-2xl">Product Design</h1>
                  <p>
                    Our product designers deliver a seamless end to end product
                    experience with vision
                  </p>
                </div>
              </div>
              <img
                class="w-80 rounded-3xl object-cover"
                src="../assets/images/slide-1.webp"
              />
              <div
                class="absolute top-0 left-0 flex h-0 w-80 flex-col items-center justify-center bg-neutral-900 opacity-0 group-hover:h-full group-hover:rounded-3xl group-hover:opacity-100"
              >
                <div class="absolute -mt-60 ml-5 space-y-2 text-white">
                  <h1 class="text-2xl">Product Design</h1>
                  <p>
                    Our product designers deliver a seamless end to end product
                    experience with vision
                  </p>
                </div>
              </div>
            </div>
          </div></ng-template
        >
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>
    </div>
  </section>

  <!-- Talent Spotlight -->
  <section>
    <!-- Stop Swiper -->

    <h2
      class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center pt-20"
    >
      Talent Spotlight
    </h2>

    <!-- Try better swiper -->
    <swiper [config]="config_testi" class="mySwiper">
      <ng-template swiperSlide>
        <div
          class="container text-center md:space-y-6 mt-10 max-w-lg md:max-w-3xl lg:max-w-5xl mx-auto pb-5 relative"
        >
          <!-- Testimoni Box -->
          <div
            class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg md:hidden relative"
          >
            <div class="space-y-5">
              <div class="flex">
                <img
                  src="../assets/images/ava-1.webp"
                  class="rounded-full"
                  alt=""
                />
                <div>
                  <h4 class="text-neutral-600 text-base">UI Designer</h4>
                  <h3 class="font-semibold text-xl md:text-2xl ml-6 md:ml-11">
                    Naomi Kang
                  </h3>
                </div>
              </div>
              <p class="text-start leading-6">
                Naomi has over eight years of experience in the design industry.
                She has been crafting and delivering unique digital experiences
                for global leading companies and startups. She is adept at user
                experience designs, user interface designs, and innovations for
                web and mobile applications. She helps to create engaging
                products for businesses with a user-centered approach.
              </p>
              <div class="flex flex-wrap gap-1 text-lg">
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile UI
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Web UI</div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile App Design
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
              </div>
              <button
                class="bg-neutral-700 py-3 px-6 rounded-xl text-white font-semibold text-lg leading-5 hover:bg-neutral-800 -ml-64"
              >
                Hire Designer
              </button>
            </div>
          </div>
          <!-- Image asset -->
          <img
            src="../assets/images/asset-1.webp"
            class="mx-auto rounded-3xl w-128 md:w-80 md:translate-y-32 lg:translate-y-16 md:-translate-x-10 md:absolute lg:w-96 lg:ml-7"
            alt=""
          />
          <!-- Testimoni Box Desktop -->
          <div
            class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg lg:max-w-2xl hidden md:block ml-auto"
          >
            <div class="space-y-5">
              <div class="flex">
                <img
                  src="../assets/images/ava-1.webp"
                  class="rounded-full"
                  alt=""
                />
                <div>
                  <h4 class="text-neutral-600 text-base">UI Designer</h4>
                  <h3 class="font-semibold text-xl md:text-2xl ml-6 md:ml-11">
                    Naomi Park
                  </h3>
                </div>
              </div>
              <p class="text-start leading-6">
                Naomi has over eight years of experience in the design industry.
                She has been crafting and delivering unique digital experiences
                for global leading companies and startups. She is adept at user
                experience designs, user interface designs, and innovations for
                web and mobile applications. She helps to create engaging
                products for businesses with a user-centered approach.
              </p>
              <div class="flex flex-wrap gap-1 text-lg">
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile UI
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Web UI</div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile App Design
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
              </div>
              <button
                class="bg-neutral-700 py-3 px-6 rounded-xl text-white font-semibold text-lg leading-5 hover:bg-neutral-800 md:-ml-64 lg:-ml-106"
              >
                Hire Designer
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div
          class="container text-center md:space-y-6 mt-10 max-w-lg md:max-w-3xl lg:max-w-5xl mx-auto pb-5 relative"
        >
          <!-- Testimoni Box -->
          <div
            class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg md:hidden relative"
          >
            <div class="space-y-5">
              <div class="flex">
                <img
                  src="../assets/images/ava-2.webp"
                  class="rounded-full"
                  alt=""
                />
                <div>
                  <h4 class="text-neutral-600 text-base">UX Strategist</h4>
                  <h3 class="font-semibold text-xl md:text-2xl ml-6 md:ml-11">
                    Jason Chan
                  </h3>
                </div>
              </div>
              <p class="text-start leading-6">
                Jason is a UX strategist and designer with more than 10 years of
                experience in design, user experience, interaction design, and
                visual identity. He designs products from ideation to launch.
                His product visual designs are creative, helping to meet the
                business goals of organizations across a broad range of
                industries.
              </p>
              <div class="flex flex-wrap gap-1 text-lg">
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile UI
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Web UI</div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile App Design
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
              </div>
              <button
                class="bg-neutral-700 py-3 px-6 rounded-xl text-white font-semibold text-lg leading-5 hover:bg-neutral-800 -ml-64"
              >
                Hire Designer
              </button>
            </div>
          </div>
          <!-- Image asset -->
          <img
            src="../assets/images/asset-jason.webp"
            class="mx-auto rounded-3xl w-128 md:w-80 md:translate-y-32 lg:translate-y-16 md:-translate-x-10 md:absolute lg:w-96 lg:ml-7"
            alt=""
          />
          <!-- Testimoni Box Desktop -->
          <div
            class="border rounded-3xl text-lg p-11 mt-5 md:max-w-lg lg:max-w-2xl hidden md:block ml-auto"
          >
            <div class="space-y-5">
              <div class="flex">
                <img
                  src="../assets/images/ava-2.webp"
                  class="rounded-full"
                  alt=""
                />
                <div>
                  <h4 class="text-neutral-600 text-base">UX Strategist</h4>
                  <h3 class="font-semibold text-xl md:text-2xl ml-6 md:ml-11">
                    Jason Park
                  </h3>
                </div>
              </div>
              <p class="text-start leading-6">
                Jason is a UX strategist and designer with more than 10 years of
                experience in design, user experience, interaction design, and
                visual identity. He designs products from ideation to launch.
                His product visual designs are creative, helping to meet the
                business goals of organizations across a broad range of
                industries.
              </p>
              <div class="flex flex-wrap gap-1 text-lg">
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile UI
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">Web UI</div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">
                  Mobile App Design
                </div>
                <div class="bg-neutral-100 px-3 py-2 rounded-3xl">+ 8 more</div>
              </div>
              <button
                class="bg-neutral-700 py-3 px-6 rounded-xl text-white font-semibold text-lg leading-5 hover:bg-neutral-800 md:-ml-64 lg:-ml-106"
              >
                Hire Designer
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </section>

  <!-- Steps Section -->
  <section class="bg-gray-100 py-32 mt-5">
    <div
      class="container mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
    >
      <h2
        class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center px-16 md:px-3 pb-5 tracking-normal"
      >
        How to hire top Designers through Works
      </h2>
      <div
        class="flex-col md:flex md:flex-row mx-auto justify-center items-start"
      >
        <!-- component 1 -->
        <div
          class="flex md:flex-col md:items-center justify-center py-4 space-x-5 md:space-y-5"
        >
          <div class="relative">
            <div
              class="flex justify-center items-center rounded-full border-4 border-black w-12 h-12 text-center text-xl font-semibold outline-4"
            >
              1
            </div>
            <div
              class="w-0.5 h-20 bg-gray-300 ml-6 top-16 absolute md:ml-20 md:w-32 md:h-0.5 md:top-6 lg:w-56"
            ></div>
          </div>
          <div class="md:text-center space-y-3 md:max-w-xs">
            <h3 class="font-semibold text-2xl md:text-3xl">
              Speak to Our Hiring Expert
            </h3>
            <p class="text-lg">
              Our industry expert will work with you to understand your project
              requirements, business goals and team dynamics.
            </p>
          </div>
        </div>
        <!-- component 2 -->
        <div
          class="flex md:flex-col md:items-center justify-center py-4 space-x-5 md:space-y-8"
        >
          <div class="relative">
            <div
              class="flex justify-center items-center rounded-full border-4 border-black w-12 h-12 text-center text-xl font-semibold"
            >
              2
            </div>
            <div
              class="w-0.5 h-16 bg-gray-300 absolute ml-6 top-14 md:ml-20 md:w-32 md:h-0.5 md:top-6 lg:w-56"
            ></div>
          </div>
          <div class="md:text-center space-y-3 md:max-w-xs">
            <h3 class="font-semibold text-2xl md:text-3xl">
              Work with the Hand-Picked Talent
            </h3>
            <p class="text-lg">
              Within 48 hours, we will connect you to the most qualified talent
              perfectly fit for your project.
            </p>
          </div>
        </div>
        <!-- component 3 -->
        <div
          class="flex md:flex-col md:items-center justify-center py-4 space-x-5 md:space-y-5"
        >
          <div class="relative">
            <div
              class="flex justify-center items-center rounded-full border-4 border-black w-12 h-12 text-center text-xl font-semibold"
            >
              3
            </div>

            <div
              class="w-0.5 h-16 bg-gray-300 absolute ml-6 top-16 hidden"
            ></div>
          </div>
          <div class="md:text-center space-y-3 md:max-w-xs">
            <h3 class="font-semibold text-2xl md:text-3xl">
              Work Quality, Guaranteed
            </h3>
            <p class="text-lg">
              Work with your new team member and only pay if you are completely
              satisfied with their work quality, assuring you a 100% risk-free
              hiring.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Success Stories -->
  <section
    class="container mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl py-10"
  >
    <h2
      class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center mt-16 px-16 md:px-24 lg:px-64 pb-5 tracking-normal"
    >
      Success Stories
    </h2>
    <div class="md:grid md:grid-cols-2 grid grid-rows-4 md:grid-rows-2">
      <img
        src="../assets/images/success-1.webp"
        class="rounded-3xl mx-auto object-cover content-center md:h-144 md:mt-12 lg:h-auto"
      />
      <div class="px-4 md:py-6 space-y-5 md:max-w-lg md:my-auto">
        <h3 class="text-lg font-semibold md:text-xl mt-5">
          Cisco Gains Higher-Quality Matches and 15x Faster Time to Hire
        </h3>
        <p>
          Cisco needs to hire UX designers with diverse cultural backgrounds to
          join its workforce experience design team in order to create a better
          working environment through human-centered design. When Cisco hired
          through traditional agencies, it faced some problems such as long
          hiring time and language barrier, which affected Cisco's work
          efficiency. Works used experts and artificial intelligence technology
          to select top 3% design talents who are well-versed in principles of
          design for Cisco within 48 hours. Works' accurate AI translation also
          helped Cisco to communicate easily with remote teams, saving Cisco a
          great deal of time.
        </p>
        <hr width="100%" />
        <div class="flex justify-between">
          <div>
            <h4 class="md:text-xl font-semibold">15x Faster</h4>
            <p>Hiring Time</p>
          </div>
          <div>
            <h4 class="md:text-xl font-semibold">Top 3%</h4>
            <p>Independent designers contracted worldwide</p>
          </div>
        </div>
      </div>
      <div
        class="px-4 xl:ml-14 md:py-6 space-y-5 md:max-w-lg md:my-auto order-last md:order-3"
      >
        <h3 class="text-lg font-semibold md:text-xl mt-5">
          Microsoft Faster Hiring Process by 4x With Works
        </h3>
        <p>
          To create a cohesive brand and visual language within Xbox games to
          deliver high-quality, compelling customer experiences, the Xbox team
          needs professional UX/UI designers. Long hiring processes, uneven
          talent pool, and language barriers brought about by traditional
          agencies have negatively affected the Xbox team's productivity. Works
          used experts and artificial intelligence technology to select the top
          3% UX/UI designers who pass rigorous testing and vetting processes and
          are well-versed in principles of design for the Xbox team in less than
          48 hours, saving Microsoft a lot of hiring time and reducing the risk
          of a wrong hire.
        </p>
        <hr width="100%" />
        <div class="flex justify-between">
          <div>
            <h4 class="md:text-xl font-semibold">98%</h4>
            <p>Customer satisfaction rating</p>
          </div>
          <div>
            <h4 class="md:text-xl font-semibold">4x</h4>
            <p>saved over traditional hiring time</p>
          </div>
        </div>
      </div>

      <img
        src="../assets/images/success-2.webp"
        class="lg:-ml-0 rounded-3xl mx-auto object-cover content-center md:h-144 md:mt-10 lg:h-auto order-3"
      />
    </div>
  </section>

  <!-- Top designers section  -->
  <section class="bg-gray-100 py-32">
    <div
      class="container mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl space-y-5"
    >
      <h2
        class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center px-16 pb-5 tracking-normal"
      >
        Top Designers are in High Demand
      </h2>
      <p class="text-lg md:text-xl text-center">
        World's leading firms are turning to Works to hire top UI designers, UX
        designers, Product Designers. Let us help you hire fast, with
        unparalleled success.
      </p>
      <button
        class="flex bg-neutral-700 py-3 px-6 rounded-xl text-white font-semibold text-lg leading-5 hover:bg-neutral-800 mx-auto"
      >
        Hire Designer
      </button>
    </div>
  </section>

  <!-- FAQ Section -->
  <section class="py-32">
    <div
      class="container mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl space-y-5"
    >
      <h2
        class="text-3xl md:text-4xl lg:text-5xl font-semibold text-center px-16 pb-5 tracking-normal"
      >
        FAQs
      </h2>
      <p class="text-lg md:text-xl text-center">
        Visit Our
        <a href="#" class="underline font-semibold">Help Centre</a> for morea
        information.
      </p>

      <!-- Accordion -->
      <div class="accordion" id="accordionExample5">
        <div class="accordion-item bg-white">
          <h2 class="accordion-header mb-0" id="headingOne5">
            <button
              class="accordion-button relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne5"
              aria-expanded="true"
              aria-controls="collapseOne5"
            >
              <p class="text-lg md:text-xl">
                How are Works designers different?
              </p>
            </button>
          </h2>
          <div
            id="collapseOne5"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne5"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-lg md:text-xl">
                At Works, we maintain a high success rate of more than 98% by
                thoroughly vetting through the applicants who apply to be our
                designers. To ensure that we connect you with professional
                designers of the highest expertise, we only pick the top 3% of
                the many applicants to apply to be part of our talent pool.
                You'll get to work with top design experts to understand your
                business goals, technical requirements and team dynamics.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white">
          <h2 class="accordion-header mb-0" id="headingTwo5">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo5"
              aria-expanded="false"
              aria-controls="collapseTwo5"
            >
              <p class="text-lg md:text-xl">
                Can I hire designers in less than 48 hours through Works?
              </p>
            </button>
          </h2>
          <div
            id="collapseTwo5"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo5"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-lg md:text-xl">
                You could start working with a designer within 48 hours of
                signing up, depending on the availability and how fast you would
                like to advance on your project.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="bg-gray-100 p-4 md:grid">
  <div
    class="my-5 justify-between gap-10 lg:container lg:mx-auto lg:flex lg:max-w-5xl xl:max-w-7xl"
  >
    <!-- Section footer 1 -->
    <div
      class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
    >
      <!-- Judul -->
      <div>
        <h3 class="font-semibold">Platform</h3>
      </div>
      <!-- Content -->
      <div
        class="grid grid-rows-5 gap-3 md:grid-cols-3 md:grid-rows-2 lg:grid-cols-1 lg:grid-rows-6"
      >
        <div><a href="">Talent</a></div>
        <div><a href="">Enterprise</a></div>
        <div><a href=""></a> Payment & Fees</div>
        <div><a href=""></a> Dispute Resolution</div>
        <div><a href=""></a> FAQ</div>
      </div>
      <!-- Hr -->
      <hr class="mt-5 lg:hidden" />
    </div>

    <!-- Section Footer 2 -->
    <div
      class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
    >
      <!-- judul -->
      <div>
        <h3 class="font-semibold">Resources</h3>
      </div>
      <!-- Content -->
      <div
        class="grid grid-rows-3 gap-3 md:grid-cols-3 md:grid-rows-1 lg:grid-cols-1 lg:grid-rows-6"
      >
        <div><a href="">For Freelancers</a></div>
        <div><a href="">For Clients</a></div>
        <div><a href=""> Blog </a></div>
      </div>
      <!-- Hr -->
      <hr class="mt-5 lg:hidden" />
    </div>

    <!-- Section footer 3 -->
    <div
      class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
    >
      <!-- Judul -->
      <div>
        <h3 class="font-semibold">About</h3>
      </div>
      <!-- Content -->
      <div
        class="grid grid-rows-6 gap-3 md:grid-cols-3 md:grid-rows-2 lg:grid-cols-1 lg:grid-rows-6"
      >
        <div><a href="">Mission</a></div>
        <div><a href="">Community</a></div>
        <div><a href="">WORKS Token</a></div>
        <div><a href="">Whitepaper</a></div>
        <div><a href=""> Network Statistics </a></div>
        <div><a href="">Contact Us</a></div>
      </div>
      <!-- hr -->
      <hr class="mt-5 lg:hidden" />
    </div>

    <!-- Logo Images -->
    <div
      class="container order-last mx-auto max-w-lg md:max-w-3xl lg:order-first lg:max-w-5xl xl:max-w-7xl"
    >
      <img
        src="https://ik.imagekit.io/aazw3gxwf2n/prod/web/footer/works-tagline-logo.svg"
        class="mx-auto w-44 pt-4 pr-4 md:w-64 lg:w-72"
      />
      <ul
        class="my-5 mx-auto flex w-56 items-center justify-center gap-4 text-xl"
      >
        <li><i class="bx bxl-linkedin"></i></li>
        <li><i class="bx bxl-instagram"></i></li>
        <li><i class="bx bxl-facebook"></i></li>
        <li><i class="bx bxl-twitter"></i></li>
      </ul>
      <hr class="mt-5 lg:hidden" />
    </div>
  </div>
  <hr class="mt-5 hidden lg:block" />
  <div
    class="grid-rows-7 container mx-auto my-5 grid max-w-lg gap-3 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
  >
    <div>
      <h3>© 2022 Work Labs Pte. Ltd.</h3>
    </div>
    <div class="flex flex-wrap gap-x-4 text-xs lg:justify-between lg:text-lg">
      <div><a href="">Terms</a></div>
      <div><a href="">Code of Conduct</a></div>
      <div><a href="">Network Standards</a></div>
      <div><a href="">Purchaser Terms</a></div>
      <div><a href="">Referral Terms</a></div>
      <div><a href="">Privacy Policy</a></div>
      <div><a href="">Cookie Policy</a></div>
    </div>
    <hr class="mt-5 lg:hidden" />
  </div>
</footer>
<!--
  1. Footer pakai grid col 1 (mobile) grid col 4 (lg)
  2. GAP untuk misahin antar colom (done)
  3. translate untuk asset (done)
  4. divider absolute
  5. Swiper JS Navigation
 -->

<!-- Laporan magang + sidang magang + logbook magang(per minggu) -->
