<!-- Skillset-->
<section class="flex-col mx-auto relative space-y-8 md:space-y-10 container">
  <div
    class="flex-col justify-center items-center text-center space-y-4 md:space-y-6 max-w-lg md:max-w-3xl lg:max-w-5xl mx-auto"
  >
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold">
      Gain Access Top Skillsets
    </h2>
    <p class="text-lg md:text-xl">
      We have a community of freelance designers with skills in UX, visual
      design, prototyping, and more.
    </p>
  </div>
  <div class="mx-auto md:pt-5 md:max-w-2xl lg:max-w-5xl">
    <!-- Try better swiper -->
    <swiper [config]="config" class="mySwiper">
      <ng-template swiperSlide>
        <!-- First -->
        <div class="group relative w-80 mx-auto">
          <div class="opacity-1 absolute flex w-80">
            <div class="absolute mt-8 ml-5 space-y-2 text-white">
              <h1 class="text-2xl">UX Design</h1>
              <p>
                Top UX designers can shape a product from the business brief to
                working prototypes
              </p>
            </div>
          </div>
          <img
            class="w-80 rounded-3xl object-cover"
            src="../assets/images/slide-1.webp"
          />
          <div
            class="absolute top-0 left-0 flex h-0 w-80 flex-col items-center justify-center bg-neutral-900 opacity-0 group-hover:h-full group-hover:rounded-3xl group-hover:opacity-100"
          >
            <div class="absolute -mt-60 ml-5 space-y-2 text-white">
              <h1 class="text-2xl">UX Design</h1>
              <p>
                Top UX designers can shape a product from the business brief to
                working prototypes
              </p>
            </div>
            <div class="-ml-28 mt-80">
              <p class="text-white text-xl">Hire UX Designers</p>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template swiperSlide>
        <!-- First -->
        <div class="mx-auto">
          <div class="group relative w-80 mx-auto">
            <div class="opacity-1 absolute flex w-80">
              <div class="absolute mt-8 ml-5 space-y-2 text-white">
                <h1 class="text-2xl">UI Design</h1>
                <p>
                  Ensure your product is not just functional but beautiful,
                  bringing joy to users through screens
                </p>
              </div>
            </div>
            <img
              class="w-80 rounded-3xl object-cover"
              src="../assets/images/slide-2.webp"
            />
            <div
              class="absolute top-0 left-0 flex h-0 w-80 flex-col items-center justify-center bg-neutral-900 opacity-0 group-hover:h-full group-hover:rounded-3xl group-hover:opacity-100"
            >
              <div class="absolute -mt-60 ml-5 space-y-2 text-white">
                <h1 class="text-2xl">UI Design</h1>
                <p>
                  Ensure your product is not just functional but beautiful,
                  bringing joy to users through screens
                </p>
              </div>
              <div class="-ml-28 mt-80">
                <p class="text-white text-xl">Hire UI Designers</p>
              </div>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template swiperSlide>
        <!-- First -->
        <div class="mx-auto">
          <div class="group relative w-80 mx-auto">
            <div class="opacity-1 absolute flex w-80">
              <div class="absolute mt-8 ml-5 space-y-2 text-white">
                <h1 class="text-2xl">Product Design</h1>
                <p>
                  Our product designers deliver a seamless end to end product
                  experience with vision
                </p>
              </div>
            </div>
            <img
              class="w-80 rounded-3xl object-cover"
              src="../assets/images/slide-3.webp"
            />
            <div
              class="absolute top-0 left-0 flex h-0 w-80 flex-col items-center justify-center bg-neutral-900 opacity-0 group-hover:h-full group-hover:rounded-3xl group-hover:opacity-100"
            >
              <div class="absolute -mt-60 ml-5 space-y-2 text-white">
                <h1 class="text-2xl">Product Design</h1>
                <p>
                  Our product designers deliver a seamless end to end product
                  experience with vision
                </p>
              </div>
              <div class="-ml-14 mt-80">
                <p class="text-white text-xl">Hire Product Designers</p>
              </div>
            </div>
          </div>
        </div></ng-template
      >
    </swiper>
  </div>
</section>
